# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /home/user/yocto-data/raspberrypi4/poky/meta \
  /home/user/yocto-data/raspberrypi4/poky/meta-poky \
  /home/user/yocto-data/raspberrypi4/poky/meta-yocto-bsp \
  /home/user/yocto-data/raspberrypi4/poky/meta-openembedded/meta-oe \
  /home/user/yocto-data/raspberrypi4/poky/meta-openembedded/meta-multimedia \
  /home/user/yocto-data/raspberrypi4/poky/meta-openembedded/meta-networking \
  /home/user/yocto-data/raspberrypi4/poky/meta-openembedded/meta-python \
  /home/user/yocto-data/raspberrypi4/poky/meta-raspberrypi \
  /home/user/yocto-data/raspberrypi4/poky/meta-security \
  /home/user/yocto-data/raspberrypi4/poky/meta-snake-pi4 \
  /home/user/yocto-data/raspberrypi4/poky/meta-qt5 \
"
